html {
  font-size: 1em;
  /* height: 100%; */
}

@media (min-width: 768px) {

  html {
    font-size: 1.125em;
  }
}

@media (min-width: 992px) {

  html {
    font-size: 1.25em;
  }
}

body {
  color: #080401;
  background-image: linear-gradient(to top, #0ff 0, rgba(255,255,255,0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 0.75rem;
  margin: 0;
  line-height: 1.5;
  /* height: 100%; */
  background: #fffefc;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  padding-top: 0.75rem;
}

.hero__bg-container {
  height: 100%;
}

.hero__bg-image {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
}

.hero__bg-image img {
  font-family: 'object-fit: cover !important; object-position: 0% 0% !important;'; /* IE Polyfill */
}

.hero__bg-image > div {
  padding-bottom: 100% !important;
}

.project-staerkle-device {
  position: relative;
  background: white;
  border-radius: 20px;
  border: 1px solid grey;
  box-shadow:
  13px 0 white,
  14px 0 grey;
  top: 128px;
  left: 9px;
  padding: 32px 0;
  width: 272px;
  transform:
          perspective(800px)
          translateX(0)
          translateY(-100px)
          translateZ(50px)
          rotateX(0)
          rotateY(-15deg)
          rotateZ(0);
  z-index: 15;
  margin-bottom: 30px;
}


.project-staerkle-screen {
  width: 256px;
  height: 182px;
  background: url('src/assets/lamm.png') no-repeat;
  background-size: cover;
  border-radius: 0.2em;
  border: 1px solid grey;
  margin: auto;
}

.device-right {
  position: relative;
  background: white;
  border-radius: 20px;
  border: 1px solid grey;
  box-shadow:
  13px 0 white,
  14px 0 grey;
  top: 128px;
  left: 9px;
  padding: 32px 0;
  width: 272px;
  transform:
          perspective(800px)
          translateX(0)
          translateY(-100px)
          translateZ(50px)
          rotateX(0)
          rotateY(-15deg)
          rotateZ(0);
  z-index: 15;
  margin-bottom: 30px;
}

.device-left {
  position: relative;
  background: white;
  border-radius: 20px;
  border: 1px solid grey;
  box-shadow:
  -13px 0 white,
  -14px 0 grey;
  top: 128px;
  left: 40px;
  padding: 32px 0;
  width: 272px;
  transform:
          perspective(800px)
          translateX(0)
          translateY(-100px)
          translateZ(50px)
          rotateX(0)
          rotateY(15deg)
          rotateZ(0);
  z-index: 15;
  margin-bottom: 30px;
}
