html {
  font-size: 1em;
  /* height: 100%; */
}

@media (min-width: 768px) {

  html {
    font-size: 1.125em;
  }
}

@media (min-width: 992px) {

  html {
    font-size: 1.25em;
  }
}

body {
  color: #080401;
  background-image: linear-gradient(to top, #0ff 0, rgba(255,255,255,0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 0.75rem;
  margin: 0;
  line-height: 1.5;
  /* height: 100%; */
  background: #fffefc;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #11519a;
}

a:hover {
  color: #080401;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

