@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1em;
  /* height: 100%; */
}

body {
  font-size: calc(1rem + 0.5vw);
  color: #080401;
  margin: 0;
  line-height: 1.5;
  background: #fffefc;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #11519a;
  transition: all 150ms ease;
}

a:hover {
  color: #080401;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
